<a href="https://colab.research.google.com/github/NguyenNgocDuongg/phantichdulieu/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
arr = [2,4,6,8]

In [ ]:
type(arr)

In [4]:
import pandas as pd
s = pd.Series(arr)
print(s)

0    2
1    4
2    6
3    8
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

example2

In [6]:
import pandas as pd
s2 = pd.Series([2,4,6,8],index = ['a','b','c','d'])
print(s2)

a    2
b    4
c    6
d    8
dtype: int64

In [7]:
s2.values

array([2, 4, 6, 8])

In [8]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

example3

In [12]:
data = {'color':['red','green','yellow'],'object':['pen','pencil','ball'],'price': [1.2, 1.0, 0.6]}
frame = pd.DataFrame(data)
frame

    color  object  price
0     red     pen    1.2
1   green  pencil    1.0
2  yellow    ball    0.6

In [13]:
frame.color

0       red
1     green
2    yellow
Name: color, dtype: object

ex4

In [14]:
frame2 = pd.DataFrame (frame, columns = ['object', 'price'])
frame2

   object  price
0     pen    1.2
1  pencil    1.0
2    ball    0.6

ex5

In [16]:
frame2['type'] = 'normal'
frame2

   object  price    type
0     pen    1.2  normal
1  pencil    1.0  normal
2    ball    0.6  normal

ex6

In [18]:
for i in range(len(frame2)):
  if frame2['price'][i] < 1.0:
    frame2.loc[i, 'type'] = 'bad'
frame2

   object  price    type
0     pen    1.2    good
1  pencil    1.0  normal
2    ball    0.6     bad

ex7

In [19]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0     pen    1.2    good     0.024
1  pencil    1.0  normal     0.020
2    ball    0.6     bad     0.012

ex8

In [20]:
frame2['price_afterdiscount'] = frame2['price'] - frame2['discount']
frame2

   object  price    type  discount  price_afterdiscount
0     pen    1.2    good     0.024                1.176
1  pencil    1.0  normal     0.020                0.980
2    ball    0.6     bad     0.012                0.588