<a href="https://colab.research.google.com/github/NguyenNgocDuongg/phantichdulieu/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
arr = [2,4,6,8]

In [ ]:
type(arr)

In [4]:
import pandas as pd
s = pd.Series(arr)
print(s)

0    2
1    4
2    6
3    8
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

example2

In [6]:
import pandas as pd
s2 = pd.Series([2,4,6,8],index = ['a','b','c','d'])
print(s2)

a    2
b    4
c    6
d    8
dtype: int64

In [7]:
s2.values

array([2, 4, 6, 8])

In [8]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

example3

In [12]:
data = {'color':['red','green','yellow'],'object':['pen','pencil','ball'],'price': [1.2, 1.0, 0.6]}
frame = pd.DataFrame(data)
frame

    color  object  price
0     red     pen    1.2
1   green  pencil    1.0
2  yellow    ball    0.6

In [13]:
frame.color

0       red
1     green
2    yellow
Name: color, dtype: object

ex4

In [14]:
frame2 = pd.DataFrame (frame, columns = ['object', 'price'])
frame2

   object  price
0     pen    1.2
1  pencil    1.0
2    ball    0.6

ex5

In [16]:
frame2['type'] = 'normal'
frame2

   object  price    type
0     pen    1.2  normal
1  pencil    1.0  normal
2    ball    0.6  normal

ex6

In [18]:
for i in range(len(frame2)):
  if frame2['price'][i] < 1.0:
    frame2.loc[i, 'type'] = 'bad'
frame2

   object  price    type
0     pen    1.2    good
1  pencil    1.0  normal
2    ball    0.6     bad

ex7

In [19]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0     pen    1.2    good     0.024
1  pencil    1.0  normal     0.020
2    ball    0.6     bad     0.012

ex8

In [20]:
frame2['price_afterdiscount'] = frame2['price'] - frame2['discount']
frame2

   object  price    type  discount  price_afterdiscount
0     pen    1.2    good     0.024                1.176
1  pencil    1.0  normal     0.020                0.980
2    ball    0.6     bad     0.012                0.588

ex9

In [34]:
import pandas as pd
dulieuxettuyen = pd.read_csv('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv')

In [22]:
dulieuxettuyen.head(5)

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A

[5 rows x 56 columns]

In [23]:
dulieuxettuyenKI = pd.DataFrame(dulieuxettuyen, columns=['T1',	'L1',	'H1'])

In [25]:
dulieuxettuyenKI.tail(5)

     T1   L1   H1
95  8.6  6.9  7.4
96  3.7  5.4  6.0
97  8.8  5.5  7.4
98  2.7  1.8  3.4
99  4.1  5.2  4.9

In [30]:
import pandas as pd
dltuyensinh_withoutHeader = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv",header=None)
print (dltuyensinh_withoutHeader)

      0    1    2    3    4    5    6   ...  49   50   51    52    53    54  55
0    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT   KV   DH1   DH2   DH3  KT
1      1  7.2  7.3  6.3  7.3    7  7.9  ...   F  NaN  2NT  3.25  3.25   4.5  A1
2      2  5.4  3.9  3.9    4  5.4  5.4  ...   M  NaN    1     6     4   3.5   C
3      3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M  NaN    1     5  6.75     4   C
4      4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M  NaN    1  4.25  4.25  5.25  D1
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
96    96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F  NaN    1  5.25   1.5  6.25   C
97    97  3.7  5.4    6  5.1  5.5  3.9  ...   F  NaN    1  5.25  3.75  4.75   C
98    98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M  NaN  2NT     7     8     4   C
99    99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M  NaN    1     5   3.5   5.5   C
100  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M  NaN  2NT  5.25   2.5  4.25   C

[101 rows x 56 columns]

ex10

In [35]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),
		index =['white', 'black', 'red','blue'],
		columns =['up', 'down', 'right', 'left'])
frame.to_json('frame.json')
jsonFrame = pd.read_json('frame.json')
print(jsonFrame)

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

ex11

In [37]:
import pandas as pd
example11 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example11.txt', sep='\D+', header=None, engine='python')
print (example11)

HTTPError: ignored